<h1>Data Visualization - Lemonade</h1>

<h2>1 Import Libraries</h2>

In [15]:
import pandas as pd               # Dataframe manipulation
import numpy as np                # Mathematics operation
from datetime import datetime     # Date time manipulation
import plotnine                   # Data visualization
from sklearn import preprocessing # Data preprocessing

<h1>2 Import the Data</h1>

In [16]:
data_lemon = pd.read_csv('Lemonade.csv')

In [17]:
data_lemon.head() # Show first data

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017     Sunday         27.0      2.00      15    0.3     10
1  02/01/2017     Monday         28.9      1.33      15    0.3     13
2  03/01/2017    Tuesday         34.5      1.33      27    0.3     15
3  04/01/2017  Wednesday         44.1      1.05      28    0.3     17
4  05/01/2017   Thursday         42.4      1.00      33    0.3     18

In [20]:
(ggplot(data_lemon)
 + geom_histogram(aes(x = Temperature))
)

NameError: name 'ggplot' is not defined